<div class="brand mt-3">
  <img src="./images/logo.svg" alt="" />
</div>
<section class="mt-5">
  <p class="has-text-centered has-text-weight-bold">
    Search for vaccination slots in your area • Get notified via Email when
    available
  </p>
</section>
