<section class="mt-5">
  <div class="brand">
    <img src="./images/logo.svg" alt="" />
  </div>
  <p class="has-text-centered has-text-weight-bold m-2">
    Search for vaccination slots in your area • Get notified via Email when
    available
  </p>
</section>
