<div class="animate__animated animate__flipInX">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime saepe beatae,
  ullam molestias quibusdam ab voluptatum dolorem autem. Corporis deleniti
  quaerat accusantium sapiente deserunt voluptatum soluta quas inventore nostrum
  magni?
</div>