<div class="buttons has-addons is-centered">
    <a href="/?type=pincode" class="button <% if (type==="pincode") { %> is-primary <% } %>">Pincode</a>
    <a href="/?type=district" class="button <% if (type==="district") { %> is-primary <% } %>">District</a>
</div>