* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  color: #215280;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  /* <a href="https://www.freepik.com/vectors/doctor">Doctor vector created by freepik - www.freepik.com</a> */
  background-image: url("/images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #00a2a5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.brand {
  display: flex;
  justify-content: center;
}

.brand h1 {
  font-family: cursive;
}
.brand img {
  width: 60%;
}

.glass-container {
  width: 50%;
  height: 90%;
  overflow-y: scroll;
  color: white;
  gap: 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
  /* hides the scrollbar */
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
/* hides the scrollbar */
.glass-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Mobile devices  */
@media only screen and (max-width: 768px) {
  .glass-container {
    width: 90%;
    height: 90%;
  }

  .brand img {
    width: 80%;
  }
}

/* iPad and Tablet devices */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .glass-container {
    width: 70%;
    height: 90%;
  }

  .brand img {
    width: 70%;
  }
}

.card:hover {
  cursor: pointer;
}

.card .center-name {
  display: flex;
  align-items: center;
  justify-content: left;
}

.card .center-name,
.card .capacity {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #215280;
}

.card .address,
.card .district-state {
  font-size: 0.85rem;
  color: black;
  text-transform: capitalize;
}

.card .vaccine,
.card .date {
  font-size: 0.7rem;
  color: black;
  text-transform: capitalize;
}

.capacity.has-text-warning {
  color: #ffbf00 !important;
}

.accordion {
  background-color: #00a2a580;
  color: white;
  cursor: pointer;
  padding: 0.6rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  transition: 0.5s;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.card-content {
  padding: 1rem;
}
.active,
.accordion:hover {
  background-color: #00a2a5;
}

.accordion:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 20px;
}

.active:after {
  content: "\2212";
}

.collapsible-panel {
  border-radius: 0 0 5px 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.3);
}

.select,
.select #state_dropdown,
.select #district_dropdown {
  width: 100%;
}
